.banner {
  background-color: rgb(24, 5,80);
  color: #fff;
  height: 28em;
  border-bottom-left-radius: 5em;
  background-image: url("/images/home_banner.png");
  background-size: cover;
}
@media screen and (max-width: 992px){
    .banner{
        height: 16em;
    }
}