.carousel .carousel-indicators [data-bs-target] {
  background-color: #fff !important;
  border: 2px solid #5b307e;
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
.carousel .carousel-indicators [data-bs-target].active {
  background-color: #c211a1 !important;
  border: 2px solid #c211a1;
}
/* .carousel .carousel-indicators [data-bs-target] { background-color: var(--primary) !important; } */
