.header_highlighter {
  color: #fab13c;
}
.slide_item {
  min-height: 23em;
}
.slide_item > p,
.slide_item > div,
.slide_item > h1 {
  max-width: 30rem;
  color: rgb(33, 4, 84);
}
.subscribe_input {
  background-color: #4c3775;
  border: 1px solid #4c3775;
  color: #fff;
}
.subscribe_input:focus {
  background-color: #4c3775;
  border: 1px solid #4c3775;
  box-shadow: none !important;
  color: #fff;
}
.subscribe_button {
  background-color: #f6b133;
  color: #fff;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0;
}
.subscribe_button:hover,
.subscribe_button:active,
.subscribe_button:focus {
  background-color: #d68e08;
}
.subscribe_button:focus {
  box-shadow: none !important;
}
