.section {
  color: rgb(33, 4, 84);
}
.section > h2,
.section > p {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.create_account_button {
  background-color: #f6b133;
  color: #fff;
  border-radius: 1rem;
  border: 0;
}
.create_account_button:hover,
.create_account_button:active,
.create_account_button:focus {
  background-color: #d68e08;
}
.create_account_button:focus {
  box-shadow: none !important;
}
